.links-container {
  width: 50%;
  height: 8vw;
  display: flex;
  justify-content: center;
  margin-top: $standardMargin;

  img {
    height: 6vw;
    margin: auto 2vw;
  }
}

@media (max-width: 400px) {
  .links-container {
    width: 80%;
    height: 12vw;
    justify-content: space-around;
    margin-top: $standardMargin - 3vw;
    img {
      height: 10vw;
    }
  }
}
