.Stack-section {
  width: 100%;
  margin-top: $standardMargin;
  margin-bottom: $standardMargin;
  position: relative;
  top: 0px;
  left: 0px;
}
.stackTitle {
  font-size: 3.5vw;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  line-height: 0vh;
  top: 16vw;
  right: 2vw;
}
.tech-container {
  background-color: $primary-color;
  width: 100%;
  height: 20vw;
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
 justify-content: center;

  padding: 0;
  img {
    height: 10vw;
    // width: 10vw;
    margin: auto 3vw;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 500px) {
  .Stack-section {
    margin-top: 10vw;
  }

  .tech-container {
    height: 40vw;
    background-color: $secondary-color;
    img {
      height: 20vw;
      margin: auto 4vw;
    }
  }

  .stackTitle {
    font-size: 6vw;
    font-weight: 50;
    right: 2vw;
    top: 33vw;
  }
}
