.Top-section {
  width: 55%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0%;
  margin: auto;
  margin-top: $standardMargin;
  margin-bottom: $standardMargin;
  justify-content: space-between;

  .Greeting {
    font-size: 9vw;
    font-weight: 500;
    line-height: 0em;
  }
  .Name {
    line-height: 0.5em;
    font-size: 5vw;
    color: $secondary-color;
  }

  .imageContainer {
    position: relative;
    width: 40%;
    display: flex;

    .Top-avatar {
      height: 35vw;
      pointer-events: none;
      margin: auto;
    }
    .rotateimg15 {
      -webkit-transform: rotate(15deg);
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -o-transform: rotate(15deg);
      transform: rotate(15deg);
    }

    .rotateimg345 {
      -webkit-transform: rotate(345deg);
      -moz-transform: rotate(345deg);
      -ms-transform: rotate(345deg);
      -o-transform: rotate(345deg);
      transform: rotate(345deg);
    }

    .rotateimg325 {
      -webkit-transform: rotate(325deg);
      -moz-transform: rotate(325deg);
      -ms-transform: rotate(325deg);
      -o-transform: rotate(325deg);
      transform: rotate(325deg);
    }

    #books {
      position: absolute;
      width: 14vw;
      aspect-ratio: 1.19;
      // height: 16vw;
      top: 24vw;
      left: 23vw;
    }
    #iceCream {
      position: absolute;
      width: 4vw;
            aspect-ratio: 0.4;
      // height: 7vw;
      top: 30vw;
      right: 63vw;
    }

    #camera {
      position: absolute;
      width: 7vw;
      // height: 5vw;
        aspect-ratio: 1.46;
     
      top: 3vw;
      left: 27vw;
    }
    #headphones {
      position: absolute;
      width: 6vw;
      height: 6vw;
      top: 2vw;
      right: 67vw;
    }
  }
}

@media (max-width: 500px) {
  .Top-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 15vw;
    margin-bottom: 10vw;

    .Intro {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
      justify-content: flex-end;
      align-items: center;

      .Greeting {
        font-size: 16vw;
        font-weight: 500;
        line-height: 0em;
        margin-block-end: 0px;
      }

      .Name {
        margin-block-start: 0px;
        line-height: 0.5em;
        font-size: 8vw;
        color: $primary-color;
        text-align: right;
      }
    }

    .imageContainer {
      margin: 0 auto;
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .Top-avatar {
        margin: 0;
        height: 73vw;
        pointer-events: none;
      }

      #books {
        position: absolute;
        width: 27vw;
        height: 29vw;
        left: 67%;
        top: 60%;
      }

      #iceCream {
        position: absolute;
        width: 5vw;
        height: 13vw;
        top: 40%;
        left: 10%;
      }

      #camera {
        position: absolute;
        width: 12vw;
        height: 9vw;
        top: 10%;
        left: 80%;
      }

      #headphones {
        position: absolute;
        width: 12vw;
        height: 12vw;
        top: -40%;
        left: 9%;
      }
    }
  }
}
