//$font-secondary: "allisonregular";
$font-secondary: "thinking_of_bettyregular";
$font-primary: "luckiest_guyregular";
//$font-secondary-mobile: "thinking_of_bettyregular";
$primary-color: #3d5d71; // #ff488e;
$secondary-color: #a04f1b; // #65c9ff;
//$accent-color: #65c9ff;
//$accent-color: #36557b; //#dba149;
//$accent-color: #abacac;

//theme
// $background-color-darkTheme: #282c34;
// $color-darkTheme: white;
$background-color-LightTheme: #afafaf;
$color-LightTheme: #282c34;

$boxRadius: 3vw;
$standardMargin: 4vw;
$insideContainerSize: 80%;
