$font-secondary: "thinking_of_bettyregular";
$font-primary: "luckiest_guyregular";
$primary-color: #EABE7A;
$secondary-color: #D7A4B4; 
$background-color-LightTheme: #fff;
$color-LightTheme: #66534E;
$boxRadius: 3vw;
$standardMargin: 4vw;
$insideContainerSize: 80%;
