//$font-secondary: "allisonregular";
$font-secondary: "thinking_of_bettyregular";
$font-primary: "luckiest_guyregular";
//$font-secondary-mobile: "thinking_of_bettyregular";
$primary-color: #ff488e;
$secondary-color: #65c9ff;
//$accent-color: #65c9ff;
$accent-color: #dba149;
//$accent-color: #abacac;

//theme
$background-color-darkTheme: #282c34;
$color-darkTheme: white;
$background-color-LightTheme: white;
$color-LightTheme: #282c34;

$boxRadius: 3vw;
$standardMargin: 4vw;
$insideContainerSize: 80%;
